/*
  ========================================
  Custom styles
  ========================================
*/

html {
    text-align: center;
    font-family: monospace;
    background: #755757;
}

.right {
    float: right;
}

.left {
    display: inline-block;
}

.box {
	background-color: lightgray;
	border: 1px dotted black;
}

.color {
	background-color: gray;
	border: 1px dotted black;
}

.gridContainer {
	border: 5px solid black;
	border-radius: 5px;
	height: 575px;
	width: 575px;
	margin-top: 25px;
	margin-right: 40px;
	display: inline-grid;
	grid-template-rows: repeat(16, 2fr);
	grid-template-columns: repeat(16, 2fr);
}
