/*
  ========================================
  Custom styles
  ========================================
*/

html {
    text-align: center;
    font-family: monospace;
    background: #755757;
}

.gridSpace {
    float: right;
}

.content {
	display: inline-block;
}

.button {
	border: 5px solid black;
	border-radius: 5px;
	background: lightgray;
	height: 40px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	
}

.box {
	background-color: lightgray;
	border: 1px dotted black;
}

.color {
	background-color: gray;
	border: 1px dotted black;
}

.gridContainer {
	border: 5px solid black;
	border-radius: 5px;
	height: 575px;
	width: 575px;
	margin-top: 25px;
	margin-right: 40px;
	display: inline-grid;
	grid: repeat(16, 2fr) / repeat(16, 2fr);
	cursor: crosshair;
}
